[access "refs/*"]
	owner = group user/StefanTischler
	label-Code-Review = -2..+2 group user/StefanTischler
	label-Verified = -1..+1 group user/StefanTischler
[access "refs/for/refs/*"]
	read = group user/StefanTischler
	push = group user/StefanTischler
	label-Code-Review = -2..+2 group user/StefanTischler
	label-Verified = -1..+1 group user/StefanTischler
	rebase = group user/StefanTischler
	removeReviewer = group user/StefanTischler
	submit = group user/StefanTischler
[access "refs/heads/*"]
	read = group user/StefanTischler
	create = group user/StefanTischler
	push = +force group user/StefanTischler
	pushMerge = group user/StefanTischler
[access "refs/tags/*"]
	push = +force group user/StefanTischler
	pushTag = group user/StefanTischler
	pushSignedTag = group user/StefanTischler
